/* _content/ITPE3200FAM/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-yvdpyuv6f2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-yvdpyuv6f2] {
  color: #0077cc;
}

.btn-primary[b-yvdpyuv6f2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yvdpyuv6f2], .nav-pills .show > .nav-link[b-yvdpyuv6f2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-yvdpyuv6f2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-yvdpyuv6f2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yvdpyuv6f2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yvdpyuv6f2] {
  font-size: 1rem;
  line-height: inherit;
}

/* Footer base */
.footer[b-yvdpyuv6f2] {
    background-color: #f1f3f62d; 
    padding: 2rem 0;
    text-align: left;
}

/* Footer cards */
.footer-card[b-yvdpyuv6f2] {
    background-color: #ffffff; 
    padding: 1.5rem;
    height: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.footer-card:hover[b-yvdpyuv6f2] {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Footer headings */
.footer-card h5[b-yvdpyuv6f2] {
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-link[b-yvdpyuv6f2] {
    display: block;
    color: #495057 !important; 
    margin-bottom: 0.5rem;
    text-decoration: none !important; 
    transition: color 0.3s, transform 0.3s, font-weight 0.3s;
}

/* Hover, focus og active */
.footer-link:hover[b-yvdpyuv6f2],
.footer-link:focus[b-yvdpyuv6f2],
.footer-link:active[b-yvdpyuv6f2] {
    color: #1b6ec2 !important; 
    transform: translateX(5px);
    font-weight: 600;
    text-decoration: none !important; 
}

/* Footer bottom text */
.footer .text-center[b-yvdpyuv6f2] {
    color: #6c757d;
    font-size: 0.875rem;
}

/* Divider */
.footer hr[b-yvdpyuv6f2] {
    border-color: #e5e5e5;
}

/* Responsive adjustments for small screens */
@media (max-width: 576px) {
    .footer .footer-card[b-yvdpyuv6f2] {
        text-align: center;
        margin-bottom: 1rem;
    }
}




